
.DS_Store
__pycache__/*
libhackerman.dylib
libhackerman.dylib.o
libtest.dylib
libtest.dylib.o
hackerman
libhackerman.so
libtest
libtest.o
test.dylib
test.bin
hackerman_odin.dylib
build/lib.macosx-10.13-universal2-cpython-312/hackerman.cpython-312-darwin.so
hackerman_odin.bin
hackerman.cpp
hackerman.cpython-312-darwin.so
TEST_hackerman.cpython-312-darwin.so
odin_odin.bin
odin_odin.dylib
playcode_odin.dylib
hackerman.dylib
odin.dylib
pc.dylib
.venv/*
build/*
